# Apply settings to all C# files
[*.cs]

# Indentation settings
indent_style = space  # Use spaces for indentation
indent_size = 4       # Use 4 spaces per indentation level

# trimm whitespaces at the end of a line
trim_trailing_whitespace = true
# Bracing style
csharp_new_line_before_open_brace = all   # Allman style, braces start on a new line    

# Character limit per line
max_line_length = 100                     # Set maximum line length to 100 characters

# Avoid more than one consecutive blank line
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true

# No tabs allowed
csharp_indent_block_contents = true

# Place 'using' directives inside the namespace
dotnet_sort_system_directives_first = true

# Remove unnecessary usings
dotnet_remove_unnecessary_usings = true

# Ensure 'this' or 'Me' is used to qualify member access
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion